<% layout('layouts/boilerplate') %>

<div class="row">
   <div class="col-8 mx-auto">
      <div class="alert alert-danger text-break" role="alert">
         <h4 class="alert-heading">
            <%= err.message %>; <% if (process.env.NODE_ENV !== "production") {
            %>
            <span><%= err.statusCode %></span>
         </h4>
         <p class="font-monospace"><%= err.stack %></p>
         <% } %>
      </div>
   </div>
</div>
